.pagination-container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 10px;

  .pagination-item {
    @apply rounded-lg border border-solid border-transparent text-dark bg-dark-tint;
    height: 32px;
    width: 32px;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:first-child,
    &:last-child {
      @apply rounded-lg text-white bg-secondary;
      &.disabled {
        cursor: not-allowed;
        @apply bg-secondary/20;
      }
    }

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }

    &.selected {
      @apply border-primary text-primary;
    }
  }
}
